::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  ul,
  li {
    list-style-type: none;
  }
  
  .wrapper {
    margin-top: 1rem;
  }
  
  .wrapper ul {
    width: 50%;
    margin: 0 auto;
    height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 30px;
  }
  
  .wrapper ul li {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.65);
    position: relative;
    border-radius: 10px;
    font: 1em/1.6 "arial";
    clear: both;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.35);
  }
  
  .wrapper ul li:nth-child(odd) {
    float: left;
    margin-left: 80px;
  }
  
  .wrapper ul li:nth-child(even) {
    float: right;
    margin-right: 80px;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .wrapper ul li:before,
  .wrapper ul li:after {
    position: absolute;
    content: "";
  }
  
  .wrapper ul li:before {
    width: 45px;
    height: 45px;
    top: 0;
    border-radius: 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  
  .wrapper ul li:nth-child(odd):before {
    left: -80px;
    background-image: url("");
  }
  
  .wrapper ul li:nth-child(even):before {
    right: -80px;
    background-image: url("");
  }
  
  .wrapper ul li:after {
    width: 0;
    height: 0;
    top: 15px;
    border-top: 15px solid rgba(255, 255, 255, 0.65);
  }
  
  .wrapper ul li:nth-child(odd):after {
    left: -15px;
    border-left: 15px solid transparent;
  }
  
  .wrapper ul li:nth-child(even):after {
    right: -15px;
    border-top-color: rgba(255, 255, 255, 0.3);
    border-right: 15px solid transparent;
  }
  
  @media only screen and (min-width: 768px) {
    .wrapper ul {
      width: 100%;
      height: 35rem;
    }
  }
  @media only screen and (max-width: 767px) {
    .wrapper ul {
      width: 100%;
      height: 30rem;
    }
  }
  